@font-face {font-family: 'iconfont';
    src: url('../IconFont/iconfont.eot'); /* IE9*/
    src: url('../IconFont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../IconFont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../IconFont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../IconFont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:29px; background: #CCCCCC;}