html,body,div,h1{margin:0 auto; padding: 0;  font-family:"微软雅黑";}
a{ text-decoration: none;}

#logo{ width: 1200px; height: 100px; }
#logo img{display: inline-block; position: relative; top:50%; transform: translateY(-50%);}

#main-box{ width: 100%;  height: 560px; background: #EE3344; }
.register{ width: 300px; height: 360px; background: #FFF; border: 1px solid #CCC; float: right; margin: 80px 160px 0 0; padding:0 30px 30px 30px;  }
.register h2{ display: block; width: 280px; height: 50px; border-bottom: 1px solid #CCC; padding: 8px 0 8px 20px; color: #333; }
.information{ padding: 0 20px; }
.information .country-select{ width: 80px; height: 36px; border: 1px solid #CCC; }
.information input{ width: 158px; height: 32px; color: #333; border: 1px solid #CCC; margin: 10px 0; padding: 0 5px;}
.information input.security{ width: 143px; }
.information input.btn{ width: 95px; height: 35px; background: #C40000; color: #FFF; border: none; cursor: pointer; }
.information input.reg-btn{ width:255px; height: 35px; background: #C40000; color: #FFF; border: none; }

a.login-btn{ display: block; font-size: 14px; float: right; color: #000; margin-right: 24px; }
a.login-btn:hover{ color: #C40000; }

#footer{ margin-top: 50px; width: 1200px; height: 200px; }
.footer-link{ height: 100px; }
.footer-link b{ display: inline-block; padding-right: 20px; }
.footer-link a{ color: #333333; height: 25px; display: inline-block; padding: 0 10px; font-size: 14px; }
.footer{ width: 300px; height: 50px; margin: 20 auto; }