@charset "utfy-8";
/***首页内页**/
#head_nav{
	width: 1200px;
	margin: 0 auto;
}

#h_nav_ul{
    width: 100%;
	border-bottom:2px solid #2677B1;
}
#h_nav_ul>li{
	text-align: center;
	float: left;
	width: 13%;
    height: 35px;
    line-height: 35px;
    background-color: #EFEFEF;
    color:#212054;
    margin-left: 2px;
}
#h_nav_ul::after{
    display: block; content: ""; width: 0; clear: both;
}
#h_nav_ul>li:first-child{
    margin-right: 2px;
    margin-left: 0 !important;
    width: 249px;
    background-color: #2677B1;
    color:#F7F7F7;
}
#h_nav_ul>li:first-child a{
    color:#EFEFEF!important;
}
#h_nav_ul>li:first-child a:hover{
    color: #F7F7F7!important;

    background-color: #4981BD;
}

#h_nav_ul>li>a{
    display: block;
    width: 100%;
}

#h_nav_ul>li>a:hover{
background-color:#F7F7F7 ;
}

.h_sub_menu{
    border-top:2px solid #2677B1 ;
    outline: 1px solid #D1D1D1;
    display: none;
}
.h_sub_menu>li>a{
    display: block;
    width: 100%;
}
.h_sub_menu>li>a:hover{
    display: block;
    width: 100%;
    background-color: #D9EFF1;
}

/*首页内页内容侧栏*/
.list_content{
    width: 1200px;
    margin: 10px auto;
}
.list_content::after{
    display: block;
    clear: both;
    content: '';
    overflow: hidden;
}
.left_content{
    width: 247px;
    float: left;

}
.little_header{
    width: 247px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color:#2677B1 ;
    color: #F7F7F7;
    margin-top:10px ;
    position: relative;
}
.little_header>a{
    position: absolute;
    top:0;
    left: 200px;
    display:inline-block;
    color: #F7F7F7;
}
.little_header>a:hover{
 color: #C9CED0;
}
.little_content{
    border: 1px solid #D1D1D1;
}
.little_content li{
    height: 30px;
    border-top: dashed 1px #dddddd;
    line-height: 30px;
}
#ad_content{

    border: 1px solid #D1D1D1;
    height: 120px;
    overflow: hidden;
}
#ad_content li{
    text-align: center;
    height: 30px;
    line-height: 30px;
}
#ad_ul li:nth-child(2n){
    background-color: #CCE9EC;
}
.odd li:nth-child(2n+1){
    background-color: #CCE9EC;
}
.even li:nth-child(2n){
    background-color: #CCE9EC;
}
/************************************/

/*****公有public****/
.list_content .main-right{
    width: 948px;
    float: right;
    margin-bottom: 100px;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden !important;
    font: 14px Helvetica, Arial, Sans-Serif;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 7px 0 7px 55px;
    background-color: #2677B1;                   /* fallback color */
    position: relative;
    display: block;
    float: left;
}
.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #2677B1;;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
/*²»º¬Á´½ÓµÄ¡®µ±Ç°Î»ÖÃ¡¯*/
.breadcrumb li:first-child {

    color: white;
    text-decoration: none;
    padding: 7px 0 7px 20px;
    background-color: #2677B1;
    position: relative;
    display: block;
    float: left;
}

.breadcrumb li:first-child:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #2677B1;;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li:first-child:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
/*ÑÕÉ«¿ØÖÆ*/
.breadcrumb li:nth-child(2) a       { background: #42929D; }
.breadcrumb li:nth-child(2) a:after { border-left-color:#42929D; }
.breadcrumb li:nth-child(3) a       { background:#3AB2C3; }
.breadcrumb li:nth-child(3) a:after { border-left-color: #3AB2C3; }
.breadcrumb li:nth-child(4) a       { background:#B6DDC8; }
.breadcrumb li:nth-child(4) a:after { border-left-color: #B6DDC8; }


/*hover*/
.breadcrumb li a:hover { background: #264B64; }
.breadcrumb li a:hover:after { border-left-color: #264B64; }

/*仓储列表style*/
#breadcrumb-main{ width: 948px; margin:0 auto; }
/*center-list style*/
#center-list .menu{ padding:10px 20px; margin: 20px 0;}
#center-list .menu .menu-title{ display:inline-block; height:25px; width: 90px; line-height:25px; font-size:14px; color:#5A5A5A;}
#center-list .menu span{ display:inline-block; width:35px; height:18px; line-height:18px; text-align:center; background-color:#FFCA02; color:#FFF; font-size:14px; margin:0 5px;}

#conter-list .menu dl{ float: left; }
#center-list .menu dd{ color:#424242; font-size:14px; display:inline-block; margin:0 5px; cursor: pointer;}
.menu input{ margin-bottom: 3px; }
.menu input.storage-search{ width: 200px; height: 28px; padding: 0 10px; margin-left: 10px; }
.menu input.storage-btn{ width: 60px; height: 30px; background: #009EE5; color: #FFF; border: none; border-radius: 2px; font-size: 14px; }

/*lease-table style*/
#lease-table .table-title{ display: inline-block; padding: 10px 15px; background: #009EE5; color: #FFF; font-size: 18px; border-radius: 2px; }
#lease-table .release-btn{ display: inline-block; padding: 5px 10px; margin-right: 20px; border: 1px solid #CCC; border-radius: 3px; box-shadow: 1px 1px 3px #cfcfcf; color: #333; text-decoration: none; float: right; background: #EEFFFF; }

#lease-table table{ width: 948px; color: #000; }
#lease-table table tr{ border-bottom: 1px solid #BBDDE5;}
#lease-table table th{ background: #2677B1 url(../images/line.png) no-repeat center left; height: 30px; text-align: center; color: #FFF; }
#lease-table table th.first{ background: #2677B1; }
#lease-table table td{ padding:10px;  position: relative;}
#lease-table table td .title-img{ display: inline-block; padding: 20px 10px; }
td ul.depot-info{ list-style: none; position: absolute; left: 150px; top:10px; }
li.area-info{ color: #0000FF; }
li font.area{ color: #FF0000; }

td ul.acreage-info{ list-style: none; margin: 10px; }
.acreage-info font{ color: #FF0000; }

a.release-date{ color: #000; text-decoration: none; margin:0 auto; }

a.details{ color: #0000FF; text-decoration: none; }
a.details:hover{ color: #009EE5; }
#page-link a{ display: inline-block; padding:0 7px; line-height: 22px; text-align: center; margin-right: 5px; }
#page-link a.yangshi{ color: #FFF; background: #009EE5; }
#page-link a:hover{ color: #333; background: #DDD; }

#turn-page .record{ display: inline-block; padding: 10px; }
.page-btnLink{ float: right; margin-top: 10px; }
#turn-page #page-tum{ width: 40px; }
#turn-page #page-btn{ width: 60px; height: 25px; background: #009EE5; border: none; color: #FFF; border-radius: 3px; box-shadow: 1px 1px 3px #cfcfcf; }
#turn-page span.num{ display: inline-block; padding: 0 5px; } 
#page-link{ margin-top: 10px; float: right; }


/*政府公告详情style*/
#main_header{ width: 948px; margin:0 auto; }

#bread-center h1{ color: #E13C15; font-size: 24px; border-bottom: 1px dashed #DADADA; text-align: center; padding: 30px; }
.release{ text-align: center; color: #6F6C6D; padding-top: 10px; }
.remark{ border: 1px solid #59ACFF; background: #ECF5FF; padding: 10px; margin: 20px; text-align: center; line-height: 25px; }
.remark .remark-bold{ font-weight: bold; font-size: 16px; }
.main-text{ color: #6F6C6D; font-size: 15px; padding: 0 10px; margin: 10px; text-indent:2em; line-height: 30px; }

.article{ color: #6F6C6D; font-size: 14px; border-top: 1px dashed #DADADA; padding: 10px 0 0 10px; margin: 10px 0 0 10px; }
.article a{ text-decoration: none; color: #6F6C6D; }